<header class="w-full text-gray-700 bg-white shadow-sm body-font header">
  <div class="container flex flex-col items-start p-6 mx-auto md:flex-row">
    <a
      class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0"
    >
      Test
    </a>
    <nav class="flex items-center justify-center text-base md:ml-auto">
      <a href="/" class="mr-5 font-medium hover:text-gray-900">Home</a>
      <a href="/about" class="mr-5 font-medium hover:text-gray-900">About</a>
    </nav>
    <div class="items-center h-full pl-6 ml-6 border-l border-gray-200"></div>
  </div>
</header>
