<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastAPI + HTMX Demo</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaaahn/hyper-ui@3.1.1/dist/hyper-ui.umd.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@jaaahn/hyper-ui@3.1.1/dist/index.min.css"
      rel="stylesheet"
    />
    <link href="/static/css/main.css" rel="stylesheet" />
  </head>
  <body class="font-sans p-8 w-full h-full" hx-boost="true">
    <header>
      <a class="navbar-brand" href="/">ML Test</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a href="/" class="nav-link"> HOME </a>
          <a href="/about" class="nav-link"> ABOUT </a>
        </li>
      </ul>
    </header>
    <main>{% block content %} {% endblock content %}</main>
    <footer>FOOTER</footer>
  </body>
</html>
